@font-face {
    font-family:"Segoe" ;
    src: url(../Font/Segoe\ UI.ttf);
}

@font-face{
    font-family: "Segoe-Bold";
    src: url(../Font/Segoe-Bold.ttf);
}

$font-Segoe:"Segoe";
$color-Black:#000000;
$color-Green-Light:#00a884;
$color-Green-Dark:#005c4b;
$color-Gray:#848488;
$color-Gray-Light:#6a7175;
$color-Blue-Green:#0b141a;
$color-Blue-Green-Dark:#0c1317;